.root {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.root > li {
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 1.3em;
  margin-right: 0.25em;
}

.root > li:last-child {
  margin-right: 0;
}

.button {
  background-color: rgb(13 13 13 / 15%);
  border: none;
  cursor: pointer;
  height: 70%;
  width: 100%;
}

.buttonActive {
  background-color: rgb(13 13 13 / 30%);
  border-bottom: 1px solid #b2a98e;
  height: 100%;
}

@media (min-width: 35rem) {
  .root {
    display: flex;
  }
}
